@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>



