@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4 border p-3">
        <h2>Create Student</h2>
        <form method="post" asp-action="Create">

            <div class="form-group">
                <label asp-for="FirstMidName"></label>
                <input asp-for="FirstMidName" class="form-control" placeholder="Input first and middle name" />
                <span asp-validation-for="FirstMidName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Input last name" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate"></label>
                <input asp-for="EnrollmentDate" class="form-control" type="date" />
                <span asp-validation-for="EnrollmentDate"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
    
</div>
